<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini チャットボット</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Gemini チャットボット</h1>

    <div id="chat-container">
        <div id="chat-window">
            {% for h in history%}
            <div class="message {{h.style}}">{{h.iam}}{{h.message | safe}}</div>
            {% endfor %}
        </div>

        <form id="chat-form" hx-post="/chat" hx-target="#chat-window" hx-indicator="#loading-spinner"
            hx-swap="beforeend" hx-on::before-request="add_message()" hx-on::after-request="this.reset()">
            <input type="text" id="message" name="message" placeholder="メッセージを入力..." autocomplete="off" required>
            <button type="submit">送信</button>
            <input type="hidden" id="chat_id" name="chat_id" value='{{chat_id}}'>
        </form>
        <form enctype="multipart/form-data" id="chat-form" hx-post="/image" hx-target="#chat-window"
            hx-indicator="#loading-spinner" hx-swap="beforeend" hx-on::before-request="add_filename()"
            hx-on::after-request="this.reset()">
            <input type="file" name="file" id="file" required>
            <input type="text" id="q" name="q" placeholder="質問を入力..." autocomplete="off">
            <button type="submit">送信</button>
        </form>
        <div id="loading-spinner" class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>
</body>

</html>