{% extends "./common/layout.html" %}
{% block content %}
<div style="text-align: center;"><a href="#" hx-get="{{url_for('func_chat.get_list')}}" hx-swap="innerHtml"
        hx-target="#chat-container">chat_list</a></div>
<div id="chat-container">
    <div id="chat-window">
        {% for h in history%}
        <div class="message {{h.style}}">{{h.iam}}{{h.message | safe}}</div>
        {% endfor %}
    </div>

    <form id="chat-form" hx-post="{{url_for('func_chat.post_chat', chat_id=chat_id)}}" hx-target="#chat-window"
        hx-indicator="#loading-spinner" hx-swap="beforeend" hx-on::before-request="add_message()"
        hx-on::after-request="this.reset()">
        {{ form.csrf_token}}
        {{ form.user_message}}
        {{ form.send(class="button")}}
    </form>
    <form enctype="multipart/form-data" id="chat-form" hx-post="{{url_for('func_chat.post_image')}}"
        hx-target="#chat-window" hx-indicator="#loading-spinner" hx-swap="beforeend"
        hx-on::before-request="add_filename()" hx-on::after-request="this.reset()">
        <input type="file" name="file" id="file" required>
        <input type="text" id="q" name="q" placeholder="質問を入力..." autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="button">送信</button>
    </form>
    <div id="loading-spinner" class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}