<a href="{{url_for('func_chat.get')}}">new chat</a>
{% if historys %}
<ul>
    {% for h in historys %}
    <li>
        <div class="form-row">
            <a href="{{url_for('func_chat.get_path_param', chat_id=h.chat_id)}}">{{h.title}}</a>&nbsp;&nbsp;
            <form hx-post="{{url_for('func_chat.s3upload', chat_id=h.chat_id)}}" hx-swap="none"
                hx-on::after-request="alert('Upload completed');">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit">s3 upload</button>
            </form>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}