{% extends "./common/layout.html" %}
{% block content %}
<div id="chat-container">
    <ui>
        <li>
            <a href='/hoge'>Hellow World</a>
        </li>
        <li>
            <a href="{{url_for('func_chat.get')}}">new chat gemini</a>
        </li>
        <li>
            <a href="{{url_for('func_chat.get_ollama')}}">new chat ollama</a>
        </li>
        <li>
            <a href="#" hx-get="{{url_for('func_chat.get_list')}}" hx-swap="innerHtml"
                hx-target="#chat-container">chat_list</a>
        </li>
        <li>
            <a href="#" hx-get="{{url_for('func_image.get')}}" hx-target="#chat-container">image convert</a>
        </li>
        <li>
            <a href="{{url_for('func_generate_music.index')}}">generate music</a>
        </li>
        <li>
            <a href="{{url_for('func_tts_convert.index')}}">text to speech convert</a>
        </li>
    </ui>
</div>
{% endblock %}