{% extends "./common/layout.html" %}
{% block content %}
<div id="chat-container">
    <ui>
        <li>
            <a href='/hoge'>Hellow World</a>
        </li>
        <li>
            <a href="{{url_for('func_chat.get')}}">new chat</a>
        <li>
            <a href="#" hx-get="{{url_for('func_chat.get_list')}}" hx-swap="innerHtml"
                hx-target="#chat-container">chat_list</a>
        </li>
        <li>
            <a href="#" hx-get="{{url_for('func_image.get')}}" hx-target="#chat-container">image convert</a>
        </li>
    </ui>
</div>
{% endblock %}