<!DOCTYPE html>
<html>

<head>
    <title>flask sample</title>
</head>

<body>
    <header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </header>
    {% block content %}{% endblock %}
    {% if current_user.is_authenticated %}
    <footer>
        <div class="form-row">
            <a href="{{url_for('func_index.index')}}">top</a>
            <form action="{{url_for('func_login.logout')}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <button type="submit">ログアウト</button>
            </form>
        </div>
    </footer>
    {% endif %}
</body>

</html>