[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
google-generativeai = "*"
python-dotenv = "*"
pillow = "*"
markdown = "*"
pynamodb = "*"
flask-jwt-extended = "*"
flask-login = "*"
wtforms = "*"
flask-wtf = "*"
pandas = "*"
boto3 = "*"
numpy = "*"
opencv-python = "*"
opencv-contrib-python = "*"
ollama = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
list = "pip list"
